<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Niñas y Adolescentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-expandable
    [title]="'Mujeres en edad adulta y reproductiva'"
    [textColor]="'#FFF'"
    [hasMargin]="false"
    [headerColor]="'#000000'"
    [expanded]="true"
    [contentColor]="'#F9F9F9'"
  >
    <ion-grid>
      <ion-row>
        <ion-col style="background-color: #4cd137; color: #fff; text-align: center;" size="3"
          ><ion-label text-center>Vacunas</ion-label></ion-col
        >
        <ion-col style="background-color: #4cd137; color: #fff; text-align: center;" size="3"
          >Mujeres 16 a 49 años que no fueron vacunadas oportunamente</ion-col
        >
        <ion-col style="background-color: #4cd137; color: #fff; text-align: center;" size="3"
          >Gestantes (a partir de 20 semanas de gestación)</ion-col
        >
        <ion-col style="background-color: #4cd137; color: #fff; text-align: center;" size="3"
          >Gestantes (aquellas que no tengan esquema completo de Vacuna contra
          Hepatitis B)</ion-col
        >
      </ion-row>
    </ion-grid>
  </app-expandable>
</ion-content>
